<a href="https://colab.research.google.com/github/devesh1102/SHALA2020/blob/master/Shala_Assignment_1_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Assignment - 1 : Getting Started**

---

This assignment will get you familiarized with python libraries required for ***data science*** and ***machine learning***. You will have to complete the code snippets and run them.

## **Note :**   Use only the methods and attributes of the ```numpy``` library. **Do not** hard-code them. Avoid loops as much as possible.

---
## Part - 1
 In this part, you will work with the library ```numpy```.

Import ```numpy``` with an alias name ```np```. Initialize two arrays $a$, $b$ of size $3 \times 5$ with random values and print them.

In [0]:
import numpy as np

Initialize and print two arrays $c$ and $d$ having the following properties:
*   $c$ is a row vector with all positive integer values less than 100
* $d$ is a square matrix of size 3 having all entries as 0.0

In [0]:
c = [i for i in range(100)]
d = [[0.0 for i in range(3) ]for j in range(3)]
print(c)
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, 0.0]]

We have $e$ as following : ```e = [[1,2,3],[4,5,6],[7,8,9]]```. Change $e$ as a numpy array and print it.

In [0]:
e = [[1,2,3],[4,5,6],[7,8,9]]
print(type(e))
e = np.asarray(e)
print(type(e))

<class 'list'>
<class 'numpy.ndarray'>

$f$ and $g$ are two square matrices of size 5 such that all the entries of $f$ are 1 and $g$ is an identity matrix. Initialize them and print them

In [0]:
f =  [[ 1 for i in range(5)] for j in range(5)]
print(f)
g = [[0 for i in range(3)] for j in range(3)]

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

Reshape $d$ into a $10 \times 10$ matrix and name it $h$. Now flatten $h$, call it $d^\prime$ and print **YES** when the shapes of $d$ and $d^\prime$ are same. Otherwise print **NO**.

Let $A$ denote a randomly initialized three dimensional matrix of shape (2,10,5). Transpose $A$, call it $A^\prime$, such that its shape is (5,2,10) and print it.

In [0]:
A = np.random.rand(2,10,5)

You have a matrix $X$ of size (10,5) filled with random values. Print the following :
* Minimum value and index where it occured, for each column
* Maximum value and the index where it occured, for each column
* Minimum value and index where it occured, for each row
* Maximum value and index where it occured, for each row
* Minimum value and index where it occured, for the entire matrix
* Maximum value and index where it occured, for the entire matrix

In [0]:
np.random.seed(0)
X = np.random.rand(10,5)

Find and print the following for the matrix X: 
* Mean of each row and column
* Standard deviation of each row and column
* Mean of the entire matrix
* Standard deviation of entire matrix

Let $Y$ denote a square matrix of size 10 with random values. Print the following:
* Determinant
* Rank of the matrix
* Diagonal Elements
* Trace
* Eigen values
* Matrices obtained after Singular Value Decomposition
* Inverse if exists, otherwise Pseudo-Inverse
* Multiplication $Y$ with $X$
* Element-wise multiplication of $Y$ and its inverse(or pseudo-inverse)

In [0]:
np.random.seed(3)
Y = np.random.rand(10,10)
print(Y.shape)
det = np.linalg.det(Y)
diag = [Y[i][i] for i in range(len(Y[0]))]
# print(diag)
trace = np.trace(Y)
# print(trace)
eigen = np.linalg.eig(Y)
print(eigen)

(10, 10)
(array([ 4.797525  +0.j        ,  0.72411408+0.52238181j,
        0.72411408-0.52238181j, -0.48250062+0.55413671j,
       -0.48250062-0.55413671j, -0.6909002 +0.j        ,
       -0.25905659+0.32357377j, -0.25905659-0.32357377j,
        0.2127855 +0.08352477j,  0.2127855 -0.08352477j]), array([[ 0.29593906+0.j        ,  0.14213977+0.19798456j,
         0.14213977-0.19798456j, -0.37236549+0.00325385j,
        -0.37236549-0.00325385j, -0.1096481 +0.j        ,
        -0.0132423 +0.12273111j, -0.0132423 -0.12273111j,
        -0.56228934-0.10973258j, -0.56228934+0.10973258j],
       [ 0.25059285+0.j        ,  0.01404552+0.1967944j ,
         0.01404552-0.1967944j , -0.16781094-0.17307308j,
        -0.16781094+0.17307308j, -0.29711444+0.j        ,
        -0.04108937-0.4113554j , -0.04108937+0.4113554j ,
         0.61892544+0.j        ,  0.61892544-0.j        ],
       [ 0.31416894+0.j        , -0.24186998+0.15655466j,
        -0.24186998-0.15655466j, -0.16993115+0.15284371j,
        -0.16993115-0.15284371j,  0.36362726+0.j        ,
        -0.10206063+0.15541211j, -0.10206063-0.15541211j,
         0.16701388+0.18450241j,  0.16701388-0.18450241j],
       [ 0.36027404+0.j        ,  0.52448941+0.j        ,
         0.52448941-0.j        ,  0.48969059+0.j        ,
         0.48969059-0.j        ,  0.17074825+0.j        ,
         0.14078898+0.01851681j,  0.14078898-0.01851681j,
        -0.13278372+0.03975259j, -0.13278372-0.03975259j],
       [ 0.27990836+0.j        , -0.13624801+0.01805996j,
        -0.13624801-0.01805996j, -0.0731246 -0.10412128j,
        -0.0731246 +0.10412128j,  0.13537705+0.j        ,
        -0.29263074+0.368267j  , -0.29263074-0.368267j  ,
        -0.07942445-0.1381196j , -0.07942445+0.1381196j ],
       [ 0.30697292+0.j        , -0.2288709 -0.09164898j,
        -0.2288709 +0.09164898j,  0.34166486-0.10037728j,
         0.34166486+0.10037728j,  0.38961338+0.j        ,
         0.1575938 -0.27237341j,  0.1575938 +0.27237341j,
        -0.05056956+0.01833742j, -0.05056956-0.01833742j],
       [ 0.28526996+0.j        , -0.07276121-0.22120787j,
        -0.07276121+0.22120787j, -0.09920762+0.30369397j,
        -0.09920762-0.30369397j, -0.38942645+0.j        ,
        -0.35795075-0.21303717j, -0.35795075+0.21303717j,
         0.25824685-0.05397791j,  0.25824685+0.05397791j],
       [ 0.23358056+0.j        ,  0.33195752+0.22875065j,
         0.33195752-0.22875065j,  0.22899202+0.29805206j,
         0.22899202-0.29805206j, -0.15526644+0.j        ,
         0.47450761+0.j        ,  0.47450761-0.j        ,
         0.01343252-0.05360821j,  0.01343252+0.05360821j],
       [ 0.39548419+0.j        , -0.14569343-0.47441452j,
        -0.14569343+0.47441452j, -0.29937425-0.1334132j ,
        -0.29937425+0.1334132j ,  0.26931546+0.j        ,
         0.07126882+0.08476271j,  0.07126882-0.08476271j,
        -0.02419704-0.00279054j, -0.02419704+0.00279054j],
       [ 0.3952166 +0.j        , -0.02644966-0.01254236j,
        -0.02644966+0.01254236j,  0.09200666-0.09461051j,
         0.09200666+0.09461051j, -0.5656002 +0.j        ,
         0.04736886+0.16022229j,  0.04736886-0.16022229j,
        -0.31202472+0.09318458j, -0.31202472-0.09318458j]]))

## End of Part - 1
 --- --- ---

## Part - 2
---
In this part, you will be working with the library ```pandas```. Import this library with an alias name ```pd```.

In [0]:
# Initial imports
import numpy as np
import matplotlib.pyplot as plt

Download dataset from: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.csv
Read the data and display the first 5 rows

In [0]:
#Download dataset from: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.csv

file_url = "http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.csv"

### Preprocessing of the Dataset



---


**1. Convert the categorical values of columns 'sex', 'embarked', 'pclass' into dummy values and add them into titanic_data_new DataFrame**




---



---


**2. Fill the missing data in Age and Fare columns with the mean value of the respected column then add these columns to titanic_data_new**


---

###Normalization


---



1. Normalize the columns which have numerical data



---



---
2. Drop the original age, fare columns
3. Append the normalized columns to the titanic_data_new DataFrame.



---

###Plotting
1. plot the age against the ID(continuous)
2. plot the fare against the ID(scatter)

## End of Part - 2
---

## Part - 3
---

In this part, you will work with the library ```matplotlib```. Import the ```pyplot``` from ```matplotlib``` with an alias name ```plt```.

Plot the sine function with domain in $[-3\pi,3\pi]$. Label the axes appropriately. Add title $\sin(x)$. Use latex formatting while adding the title. Set the plot size to (10,10)

Plot $\sin(x)$ and its spectrum, $\cos(x)$ and its spectrum in a single plot, in the domain $[-2\pi,2\pi]$. Label the plot appropriately.

## End of Part - 3
---

Create a Github repository with the name ***SHALA2020*** and save this assignment there.